In [5]:
import pandas as pd
import os

# Basera sökvägen på överordnad katalog
base_dir = os.path.dirname(os.path.dirname(os.path.abspath("__file__")))
output_file = os.path.join(base_dir, 'data', 'lagerstatus.csv')

print(f"Läser in fil från: {output_file}")


df = pd.read_csv(output_file)

df.info()

Läser in fil från: c:\Users\Jocke\Documents\Coding\DeliverySystem\data\lagerstatus.csv

   paket_id   vikt  fortjanst  deadline
0   5311457   9.41          5         0
1   3615632  18.50          9         0
2   9472782  13.86          7        -4
3   1650145   5.11          3         7
4   7836777   9.13          2        -5